<h1 class="display-4 text-primary">Todotask#index</h1>
<p>todo一覧です</p>

<table class="table">

<tr>
    <th>タイトル</th><th>内容</th>
    <th colspan="2"></th>
</tr>

<% @todotask.each do |obj| %>
<tr>
  <td class= "title"><%= obj['title'] %></td>
  <td class= "content"><%= obj['content'] %></td>
</tr>
<% end %>
</table>
