<%# todo一覧 %>

<table class="table">

<tr>
    <th>タイトル</th><th>内容</th>
    <th colspan="2"></th>
</tr>

<% @todotask.each do |obj| %>

<tr>



  <td class= "title"><%= check_box_tag :check%><%= obj['title'] %></td>
  <td class= "content"><%= obj['content'] %></td>
</tr>
<% end %>
</table>
