<p><%= @msg %></p>
<table class="table">
  <tr><th>Id</th>
    <td><%= @data.id %></td></tr>
  <tr><th>タイトル</th>
    <td><%= @data.title %></td></tr>
  <tr><th>内容</th>
    <td><%= @data.contents %></td></tr>
  </tr>
</table>